<div class="config">
    <div class="config-row">
        <div class="config-col1">자동 재생</div>
        <div class="config-col2">
            <label class="switch col2">
                <input type="checkbox" checked id="chk-config-autoplay">
                <span class="toggle round"></span>
            </label>
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">속도 조절</div>
        <div class="config-col2">
            <input type="range" min="0" max="99" value="50" class="slider" id="sld-config-rate">
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">음량 조절</div>
        <div class="config-col2">
            <input type="range" min="0" max="99" value="50" class="slider" id="sld-config-volume">
        </div>
    </div>
    <div class="config-row">
        <div class="config-voice-sel">
            <div>
                음성 선택
            </div>
            <div class="config-voice-sel-btn-area">
                <a href="#" class="config-voice-sel-btn" id="btn-mal-voice">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <div class="config-voice-sel-btn-tag">남자</div>
                </a>
                <a href="#" class="config-voice-sel-btn" id="btn-fem-voice">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    <div class="config-voice-sel-btn-tag">여자</div>
                </a>
            </div>
        </div>
    </div>
</div>
