<div class="config">
    <div class="config-row">
        <div class="config-col1">자동 재생</div>
        <div class="config-col2">
            <label class="switch col2">
                <input type="checkbox" checked>
                <span class="toggle round"></span>
            </label>
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">속도 조절</div>
        <div class="config-col2">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">음량 조절</div>
        <div class="config-col2">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>
    </div>
    <div class="config-row">
        <div class="config-voice-sel">
            <div>
                음성 선택
            </div>
            <div class="config-voice-sel-btn-area">
                <div class="config-voice-sel-btn">
                    <div class="btn-mal"></div>
                    <div>여자</div>
                </div>
                <div class="config-voice-sel-btn">
                    <div class="btn-fem"></div>
                    <div>남자</div>
                </div>
            </div>
        </div>
    </div>
</div>
