<div class="config">
    <div class="config-row">
        <div class="config-col1">
            <div class="config-label">자동 재생</div>
        </div>
        <div class="config-col2">
            <label class="switch col2">
                <input type="checkbox" checked id="chk-config-autoplay">
                <span class="toggle round"></span>
            </label>
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">
            <div class="config-label">속도 조절</div>
        </div>
        <div class="config-col2">
            <input type="range" min="0.25" max="4" step="0.25" value="1" class="slider" id="sld-config-rate">
        </div>
    </div>
    <div class="config-row">
        <div class="config-col1">
            <div class="config-label">음량 조절</div>
        </div>
        <div class="config-col2">
            <input type="range" min="-16.0" max="16.0" step="0.25" value="0.0" class="slider" id="sld-config-volume">
        </div>
    </div>
    <div class="config-row-stack">
        <div class="config-label">음성 선택</div>
        <div class="config-voice-sel">
            <div class="config-voice-sel-btn-area">
                <button class="config-voice-sel-btn" id="btn-mal-voice">
                    <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                    <img src="{{url_for('static', filename='dist/img/anon-icon.svg')}}"/>
                    <div class="config-voice-sel-btn-tag">남자</div>
                </button>
                <button class="config-voice-sel-btn" id="btn-fem-voice">
                    <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
                    <img src="{{url_for('static', filename='dist/img/anon-icon.svg')}}"/>
                    <div class="config-voice-sel-btn-tag">여자</div>
                </button>
            </div>
        </div>
    </div>
</div>
