<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">
    <script defer src="{{ url_for('static', filename='dist/js/index.js') }}"></script>
    <template id="template-message-menu">
        <a href="#" class="btn-play"><ion-icon name="megaphone-outline"></ion-icon></a>
        <a href="#" class="btn-copy"><ion-icon name="clipboard-outline"></ion-icon></a>
    </template>
    <template id="template-nav-link">
        <div class="nav-row">
            <a href="#" class="btn-edit-title hidden"><ion-icon name="pencil-outline"></ion-icon></a>
            <a href="#" class="btn-remove-chat hidden"><ion-icon name="trash-outline"></ion-icon></a>
            <a href="#" class="nav__link">
                <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                <span class="nav_name"></span>
            </a>
        </div>
    </template>
</head>
<body>
    {% include 'sidebar.html' %}
    <section class="main">
        {% include 'header.html' %}
        <div class="main-middle">
            <div class="chat">
                <div class="chat-top-filler"></div>
                <div class="chat-middle">
                    <div class="chat-middle-left">
                        <ul class="chat-messages">
                        </ul>
                        <div class="mic-input-area">
                            <div class="tag-btn-mic">누르고 음성 입력</div>
                            <a href="#" class="btn-mic">
                                <ion-icon name="mic-circle"></ion-icon>
                            </a>
                        </div>
                        <div class = "input-container">
                            <input id="txt-input"/>
                            <a id="btn-submit"><ion-icon name="paper-plane-outline"></ion-icon></a>
                        </div>
                    </div>
                    {% include 'config.html' %}
                </div>
            </div>
        </div>
        <div id="target"></div>
        {% include 'footer.html' %}
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
