<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/index.css') }}">
    <script defer src="{{ url_for('static', filename='dist/js/index.js') }}"></script>
</head>
<body>
    {% include 'sidebar.html' %}
    <section class="main">    
        {% include 'header.html' %}
        <div class="chat">
            <ul>
                <li class="message righted">
                    <div class="role assistant">사용자</div>
                    <div class="content">안녕하고 말해봐</div>
                </li>
                <li class="message lefted">
                    <div class="role user">ChatGPT</div>
                    <div class="content">안녕
                        <span class="btn-play">듣기</span>
                    </div>
                </li>
            </ul>
        </div>
        <button onclick=sayhi()>sayhi</button>
        <p class="pout"></p>
        {% include 'footer.html' %}
    </section>
</body>
</html>
