<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/sidebar.css') }}">
<section class="sidebar" id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">GP지기</a>
                </div>
                <div class="nav__list"></div>
            </div>
            <div class="sidebar-btns">
                <a href="#" class="btn-new-chat">
                    <div>
                        +
                    </div>
                    <div class="btn-new-chat-text">
                        채팅 추가하기
                    </div>
                </a>
            </div>
        </nav>
    </div>
</section>
