<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/sidebar.css') }}">
<section class="sidebar" id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">GPTalk</a>
                </div>
                <div class="nav__list">
                    <!-- <a href="#" class="nav__link active">
                        <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Chat 1</span>
                    </a>-->

                    <!-- <a href="#" class="nav__link">
                        <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Settings</span>
                    </a> -->
                </div>
            </div>
        </nav>
    </div>
</section>
